<div style="display: flex; width: 100%">
    <div *ngIf="item.items && item.items.length > 0" class="openCloseButton">
        <span (click)="open = !open">
            <fa-icon *ngIf="open" [icon]="faAngleDown"></fa-icon>
            <fa-icon *ngIf="!open" [icon]="faAngleRight"></fa-icon>
        </span>
    </div>
    <a *ngIf="item.title" [routerLink]="'/collections/' + collection.id + '/sets/' + set.id + '/items/' + item.id">{{ item.title }}</a>
    <a *ngIf="item.path" class="webPageExternalLink ml-1" [href]="item.path" target="_blank"><fa-icon [icon]="faExternalLinkAlt"></fa-icon></a>
    <div style="margin-left: auto">{{ item.updated | date:"medium" }}</div>
</div>
<div *ngIf="item.items && item.items.length > 0 && open">
    <ul>
        <li *ngFor="let subItem of item.items">
            <app-item [item]="subItem"></app-item>
        </li>
    </ul>
</div>