.collection li {
    margin: 0;
    padding: 10px;
}

.collections {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: 10px 0;
    }
}

.content {
    margin: 15px;
}

