<p-dialog header="Add Set" [(visible)]="addingSet">
    <h5>Web Page/Web Site</h5>
    <div class="p-fluid">
        <div class="p-field">
            <label for="url">URL</label>
            <input id="url" type="text" pInputText [(ngModel)]="url">
        </div>
    </div>
    <p-button label="Add" (click)="addWebPage()"></p-button>
    <h5>Document(s)</h5>
    <p-fileUpload name="files[]" customUpload="true" (uploadHandler)="addFiles($event)"></p-fileUpload>
    <!--div>
        <h5>Folder</h5>
        <p-button label="Select Folder" (click)="openFolder()"></p-button>
    </div-->
</p-dialog>
<div class="content">
    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
    <!--button pButton pRipple type="button" label="Back to Collection" (click)="back()"></button-->
    
    <div style="display: flex; align-items: center; width: 100%">
        <h2>{{ set.name }}</h2>
        <button pButton pRipple type="button" label="Delete Set" class="p-button-danger" (click)="deleteSet()" style="margin-left: auto"></button>
    </div>
    <button pButton pRipple type="button" label="Add Item" (click)="addSet()"></button>
    <ul class="sets">
        <li *ngFor="let item of set.items">
            <app-item [item]="item" [set]="set" [collection]="collection"></app-item>
        </li>
    </ul>
</div>